<button id="pinkButton" class="btn-circle btnMargin" ng-disabled="endSelectingFirst" ng-click="chooseFirstFighterButtons($event)"></button>
<button id="purpleButton" class="btn-circle btnMargin" ng-disabled="endSelectingFirst" ng-click="chooseFirstFighterButtons($event)"></button>
<button id="blueButton" class="btn-circle btnMargin" ng-disabled="endSelectingFirst" ng-click="chooseFirstFighterButtons($event)"></button>
<br>
<button id="greenButton" class="btn-circle btnMargin" ng-disabled="endSelectingFirst" ng-click="chooseFirstFighterButtons($event)"></button>
<button id="yellowButton" class="btn-circle btnMargin" ng-disabled="endSelectingFirst" ng-click="chooseFirstFighterButtons($event)"></button>
<button id="orangeButton" class="btn-circle btnMargin" ng-disabled="endSelectingFirst" ng-click="chooseFirstFighterButtons($event)"></button>
<br>
<button id="redButton" class="btn-circle btnMargin" ng-disabled="endSelectingFirst" ng-click="chooseFirstFighterButtons($event)"></button>
<button id="whiteButton" class="btn-circle btnMargin" ng-disabled="endSelectingFirst" ng-click="chooseFirstFighterButtons($event)"></button>
<button id="blackButton" class="btn-circle btnMargin" ng-disabled="endSelectingFirst" ng-click="chooseFirstFighterButtons($event)"></button>